.popupWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer {
    width: 50vw;
    max-height: 90vh;
    overflow: scroll;
    padding: 10px;
    background: #FFF;
    display: block;
}
.popupContainer iframe{
    min-height: 50vh;
}